<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de beneficiarios</title>
    <link rel="stylesheet" href="../../Resources/css/styles_beneficiarios.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="#mis-programas">Programas</a>
        <a href="#">Comunicación</a>
        <a href="#">Actualización de datos</a>
    </div>

    <div class="titulo">
        <h2>Mis programas</h2>
    </div>
    <div class="contenedor-programas">
        <div class="programa">
            <img src="../../Public/image/img2.jpeg"alt="Imagen del programa">
            <div class="programa-contenido">
                <h3>Nombre del programa:</h3>
                <p>Descripción del programa:</p>
                <span>En progreso</span>
                <div class="acciones">
                    <button class="btn-ver">Ver cronograma</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>