<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Coordinadores</title>
    <link rel="stylesheet" href="../../Resources/css/styles_coordinadores.css">
</head>
<body>
    <div class="panel">
        <h2>Panel de coordinadores</h2>
        <h3>Gestión de programas</h3>
        <div class="programas">
            <div class="accion-prog">
                <button class="btn-crear">Crear programa</button> 
            </div>
            <span>Total de programas: 2</span>
        </div>
    </div>
    <div class="titulo">
        <h2>Programas creados</h2>
    </div>
    <div class="contenedor-programas">
        <div class="programa">
            <img src="../../Public/image/img2.jpeg"alt="Imagen del programa">
            <div class="programa-contenido">
                <h3>Nombre del programa:</h3>
                <p>Descripción del programa:</p>
                <select name="status" id="status" required>
                    <option value="inac">Inactivo</option>
                    <option value="Enprog">En progreso</option>
                    <option value="Fin">Finalizado</option>
                </select>
                <div class="acciones">
                    <button class="btn-ver">Ver cronograma</button>
                    <button class="btn-editar">Editar</button>
                    <button class="btn-eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    
        <div class="programa">
            <img src="../../Public/image/img2.jpeg"alt="Imagen del programa">
            <div class="programa-contenido">
                <h3>Nombre del programa:</h3>
                <p>Descripción del programa:</p>
                <select name="status" id="status" required>
                    <option value="inac">Inactivo</option>
                    <option value="Enprog">En progreso</option>
                    <option value="Fin">Finalizado</option>
                </select>
                <div class="acciones">
                    <button class="btn-ver">Ver cronograma</button>
                    <button class="btn-editar">Editar</button>
                    <button class="btn-eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
