<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Equal Education - Example Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,700,900|Roboto:400|Rubik:100,400,700">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/styles_index.css">
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <div class="rd-navbar-brand"><a href="../views/index.html"><img src="../Images/logo.png" alt="Logo" width="100"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="../views/index.html">Inicio</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="../views/programas.html">Programas</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="../views/nosotros.html">Sobre Nosotros</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="../views/login.html">Iniciar Sesión</a></li>
                    </ul>
                    <a class="button button-primary button-sm" href="../views/donaciones.php">Donar</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Main Banner-->
      <section class="section section-lg section-main-bunner">
        <div class="main-bunner-img" style="background-image: url('../../Public/image/banner.jpg'); background-size: cover;"></div>
        <div class="main-bunner-inner text-center">
          <h1>Bienvenidos a Equal Education</h1>
          <p>Trabajamos para brindar educación igualitaria a jóvenes de todas las edades y comunidades.</p>
        </div>
      </section>
      <!-- Mission Section -->
      <section class="section section-xl">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-6"><img src="../../Public/image/mission.jpg" alt="Mission Image"></div>
            <div class="col-lg-6">
              <h3>Nuestra Misión</h3>
              <p>Brindar educación igualitaria y de calidad.</p>
              <div class="row row-50">
                <div class="col-md-6">
                  <div class="box-icon-modern">
                    <div class="box-icon-inner"><span class="icon-xl linearicons-pencil icon-primary"></span></div>
                    <h4><a>Educación Accesible</a></h4>
                    <p>Programas educativos adaptados a diversas necesidades.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box-icon-modern">
                    <div class="box-icon-inner"><span class="icon-xl linearicons-library icon-primary"></span></div>
                    <h4><a>Bibliotecas Comunitarias</a></h4>
                    <p>Acceso gratuito a libros y materiales educativos.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Causes Section -->
      <section class="section section-lg bg-gray-1">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-7">
              <h3>Apoya nuestras Causas</h3>
              <p>Participa en los diferentes proyectos de educación igualitaria.</p>
            </div>
          </div>
          <div class="row row-50">
            <!-- Cause 1 -->
            <div class="col-lg-4">
              <article class="box-causes">
                <img src="../../Public/image/img1.jpg" alt="Cause 1" width="372" height="396"/>
                <h4><a>Educación para Todos</a></h4>
                <p>Ayuda a recaudar fondos para becas.</p>
                <a class="button button-sm button-primary" href="../views/donaciones.php">Donar</a>
              </article>
            </div>
            <!-- Cause 2 -->
            <div class="col-lg-4">
              <article class="box-causes">
                <img src="../../Public/image/img2.jpg" alt="Cause 2" width="372" height="396"/>
                <h4><a>Programas de Alfabetización</a></h4>
                <p>Apoya los programas de alfabetización en comunidades rurales.</p>
                <a class="button button-sm button-primary" href="../views/donaciones.php">Donar</a>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-minimal context-dark">
        <div class="container">
          <div class="row">
            <div class="col-12"><a href="../views/index.html"><img src="../Images/logo.png" alt="Logo Footer" width="200"/></a></div>
            <ul class="footer-minimal-nav">
              <li><a href="../views/nosotros.html">Equipo</a></li>
              <li><a href="#">Términos de Servicio</a></li>
              <li><a href="#">Política de Privacidad</a></li>
              <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
            <p>&copy; 2024 Equal Education. Todos los derechos reservados.</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="../js/core.min.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
