<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles_login.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var errorElement = document.getElementById("error-message");
            if (errorElement) {
                setTimeout(function() {
                    errorElement.style.display = 'none';
                }, 3000); // 5000 milisegundos = 5 segundos
            }
        });
    </script>
</head>
<body>
   
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form method="post" action="../../Controllers/Login/Registro.php" id="formularioRegistro">
                    <h1>Crear cuenta</h1>
                    <div class="infield">
                        <input type="text" id="nombre" name="nombre" required placeholder="Nombre"/>
                        <label for="nombre"></label>
                    </div>
                    <div class="infield">
                        <input type="email" id="email" name="email" required placeholder="E-mail"/>
                        <label for="email"></label>
                    </div>
                    <div class="infield">
                        <input type="password" id="password" name="password" required placeholder="Constraseña"/>
                        <label for="password"></label>   
                    </div>
                    <a href="#" class="forgot">Términos y condiciones</a>
                    <button type="submit">Registrarse</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form method="post" action="../../Controllers/Login/Login.php">
                    <h1>Iniciar sesión</h1>
                    <div class="infield">
                        <input type="email" id="email" name="email" required placeholder="E-mail"/>
                        <label for="email"></label>
                    </div>
                    <div class="infield">
                        <input type="password" id="password" name="password" required placeholder="Contraseña"/>
                        <label for="password"></label>
                    </div>
                    <a href="#" class="forgot">Términos y condiciones</a>
                    <button type="submit">Inicar sesión</button>
                </form>
            </div>
            <div class="overlay-container" id="overlayCon">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Hola!</h1>
                        <p>Para mantenerse conectado con nosotros, inicia sesión.</p>
                        <button>Iniciar sesión</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Bienvenido!</h1>
                        <p>Introduzca sus datos personales y comienza a ser parte de nosotros.</p>
                        <button>Registrarse</button>
                    </div>
                </div>
                <button id="overlayBtn"></button>
            </div>
        </div>
    
    
    <script>
        const container = document.getElementById('container');
        const overlayCon = document.getElementById('overlayCon');
        const overlayBtn = document.getElementById('overlayBtn');

        overlayBtn.addEventListener('click', ()=> {
            container.classList.toggle('right-panel-active');

            overlayBtn.classList.remove('btnScaled');
            window.requestAnimationFrame( ()=> {
                overlayBtn.classList.add('btnScaled');
            })
        });
    </script>
     
</body>
</html>