<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Educación para Todos</title>
    <link rel="stylesheet" href="../../Resources/css/styles_nosotros.css">
</head>
<body>
    <div class="contenedor_uno">
        <h2 style="text-align: center;">Equal Education</h2>
        <div class="texto">
            <p>“Equal Education” es una aplicación web, donde se encuentran programas educativos gratuitos y 
                de alta calidad que ayudan a combatir la falta de acceso a la educación.
                Dentro de la aplicación puedes participar como beneficiario para recibir recursos educativos, 
                participar como voluntario para ayudar a entregar las diferentes actividades del programa a los beneficiarios registrados o 
                participar como donante para apoyar a estudiantes a través de becas y ayudar a que nuestra aplicación y trabajo sean sostenibles.
            </p>
        </div>
    </div>
    <div class="contenedor_dos">
        <h2 style="text-align: center;">Nuestra misión</h2>
        <div class="texto">
            <p>Combatir la falta de acceso a la educación en comunidades vulnerables alrededor del mundo, ofreciendo
            programas educativos gratuitos y de alta calidad. Creemos que la educación es un derecho fundamental y una herramienta clave para
            el desarrollo personal y comunitario, por lo que trabajamos incansablemente para cerrar las brechas educativas y brindar
            oportunidades equitativas a todas las personas, sin importar su origen, género o condición socioeconómica.
            </p>
        </div>
    </div>
    <div class="contenedor_tres">
        <h2 style="text-align: center;">Objetivos</h2>
        <div class="texto">
            <h3>Promover un entorno de aprendizaje inclusivo:</h3>
            <p>
                Reducir la discriminación, mejorar la disposición al aprendizaje 
                y ayudar a reducir la falta de educación.
            </p>
            <h3>Proporcionar una educación de calidad:</h3>
            <p>
                Desarrollar entornos más adecuados en los que se pueda impartir una educación excelente.
            </p>
            <h3>Mejorar la disposición al aprendizaje:</h3>
            <p>
                Diseñar programas flexibles que tengan en cuenta la diversidad estudiantil.
            </p>    
        </div>
    </div>
    <div class="desarrolladores">
        <h2 style="text-align: center;">Desarrolladores</h2>
    <div class="contenedor1">
        <div class="developer1">
            <img src="../../Public/image/img6.jpg" alt="Imagen" width="100" height="100">
            <div class="texto1">
            <p>Ingeniero de software</p>
            <p>Nombre: Luis Fernando Mendoza Serrano</p>
            <p>Ocupación: Director de proyecto y desarrollador</p>
            <p>Contacto: lmendoza30@ucol.mx</p>  
            </div>
        </div>
        <div class="developer2">
            <img src="../../Public/image/img6.jpg" alt="Imagen" width="100" height="100">
            <div class="texto2">
            <p>Ingeniero de software</p>
            <p>Nombre: Adriel Guzman Loza</p>
            <p>Ocupación: Desarrollador y programador</p>
            <p>Contacto: aguzman46@ucol.mx</p>
            </div>
        </div>
    </div>

    <div class="contenedor2">
        <div class="developer3">
            <img src="../../Public/image/img6.jpg" alt="Imagen" width="100" height="100">
            <div class="texto3">
            <p>Ingeniero de software</p>
            <p>Nombre: Edwin Antonio Rodriguez Crisantos</p>
            <p>Ocupación: Desarrollador y programador</p>
            <p>Contacto: erodriguez5@ucol.mx</p>
            </div>
        </div>
        <div class="developer4">
            <img src="../../Public/image/JP.jpg" alt="Imagen" width="145" height="170">
            <div class="texto4">
            <p>Ingeniero de software</p>
            <p>Nombre: Juan Pablo Gomez Avalos</p>
            <p>Ocupación: Desarrollador y programador</p>
            <p>Contacto: jgomez94@ucol.mx</p>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
