<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de voluntarios</title>
    <link rel="stylesheet" href="../../Resources/css/styles_voluntarios.css">
</head>
<body>
     <!-- Navbar -->
     <div class="navbar">
        <a href="#programas">Programas</a>
        <a href="#comunicacion">Comunicación</a>
        <a href="#">Actualización de datos</a>
    </div>

    <div class="titulo">
        <h2>Programas disponibles</h2>
    </div>
    <div class="contenedor-programas" id="programas">
        <div class="programa">
            <img src="../../Public/image/img2.jpeg"alt="Imagen del programa">
            <div class="programa-contenido">
                <h3>Nombre del programa:</h3>
                <p>Descripción del programa:</p>
                <select name="status" id="status" required>
                    <option value="inac">Inactivo</option>
                    <option value="Enprog">En progreso</option>
                    <option value="Fin">Finalizado</option>
                </select>
                <div class="acciones">
                    <button class="btn-ver">Ver cronograma</button>
                </div>
            </div>
        </div>
        <div class="programa">
            <img src="../../Public/image/img2.jpeg" alt="Imagen del programa">
            <div class="programa-contenido">
                <h3>Nombre del programa:</h3>
                <p>Descripción del programa:</p>
                <select name="status" id="status" required>
                    <option value="inac">Inactivo</option>
                    <option value="Enprog">En progreso</option>
                    <option value="Fin">Finalizado</option>
                </select>
                <div class="acciones">
                    <button class="btn-ver">Ver cronograma</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>