.reports-section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reports-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: left;
}

.reports-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reports-section table, .reports-section th, .reports-section td {
    border: 1px solid #ddd;
}

.reports-section th, .reports-section td {
    padding: 10px;
    text-align: left;
}

.reports-section th {
    background-color: #4CAF50; /* Mejoramos el color del encabezado */
    color: white;
}

.reports-section tr:nth-child(even) {
    background-color: #f9f9f9;
}

.reports-section tr:hover {
    background-color: #f1f1f1;
}

.add-report-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.add-report-section form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colocar elementos en columnas */
    gap: 20px; /* Espacio entre campos */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.add-report-section form label {
    font-weight: bold;
}

.add-report-section form input[type="text"], 
.add-report-section form select,
.add-report-section form input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    width: 100%; /* Para que los campos ocupen todo el espacio disponible */
    box-sizing: border-box;
}

.add-report-section form input[type="submit"] {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
    grid-column: span 2; /* Ocupa todo el ancho disponible */
}

.add-report-section form input[type="submit"]:hover {
    background-color: #45a049;
}

.add-report-section form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
