body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.contenedor_uno{
    padding: 20px;
    background-color: #e8e8e8;
}
.contenedor_dos{
    padding: 20px;
    background-color: #0e2c5c;
    color: #fff;
}
.texto{
    margin: 0 auto;
    width: 800px;
    font-size: 20px;
    text-align: center;
}