:root{
    --primario: #0B59DE;
    --primarioOscuro: #083b94;
    --primarioClaro: #4379d8;
    --gris: #c7c7c7;
    --grisClaro: #dbdbdb;
    --grisOscuro: #B5B5B5;

    --fuentePrincipal: "Reddit Sans Condensed", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    background-color: #f2f2f2;
    margin: 0;
}

/* Navegacion */
.navegacion{
    background-color: var(--primario);
    padding: 2.5rem 0;
}
.navegacion-secundaria{
    background-color: var(--primarioClaro);
    padding: 2rem 38.5rem;
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.navegacion-secundaria__opcion{
    text-decoration: none;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
}

/* Contenido Principal */
.contenedor{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 6rem 38.5rem;
}
.programa{
    display: flex;
    gap: 2rem;
    padding: 2.5rem 3rem;
    background-color: var(--gris);
}
.programa-img{
    height: auto;
    width: 25rem;
}
.programa-texto{
    width: 67rem;
    font-size: 2rem;
}

.btnCrearPrgm{
    margin: auto;
    width: 20rem;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    background-color: var(--grisClaro);
    border: none;
    border-radius: 1.5rem;
}