:root{
    --primario: #0B59DE;
    --primarioOscuro: #083b94;
    --primarioClaro: #4379d8;
    --gris: #c7c7c7;
    --grisClaro: #dbdbdb;
    --grisOscuro: #B5B5B5;

    --fuentePrincipal: "Reddit Sans Condensed", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    background-color: #f2f2f2;
    margin: 0;
}

/* Navegacion */
.navegacion{
    background-color: var(--primario);
    padding: 2.5rem 0;
}
.navegacion-secundaria{
    background-color: var(--primarioClaro);
    padding: 2rem 36.5rem;
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.navegacion-secundaria__opcion{
    text-decoration: none;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
}

/* Barra lateral */
.contenedor{
    display: flex;
    gap: 3rem;
    margin: 6rem 10rem 0;
}
.barra-lateral{
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #e3e3e3;
}
.barra-lateral__opcion{
    text-align: center;
    padding: 1rem 4rem;
    text-decoration: none;
    color: #000;
    font-size: 2.5rem
}
.barra-lateral__opcion:hover{
    background-color: #e6e6e6;
    border-radius: 1rem;
}

/* Contenido principal */
.contenido{
    height: auto;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
}
.contenido-img{
    background-image: url(/imgs/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 30rem;
    border-radius: 1rem;
}
.contenido-objetivo{
    padding: 3rem 7rem;
}
.contenido-txtarea{
    font-family: var(--fuentePrincipal);
    font-size: 1.8rem;
    padding: 2rem;
    resize: vertical;
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #f2f2f2;
}
.contenido-txtarea--publicar{
    margin-left: auto;
    font-size: 1.8rem;
    width: 6rem;
    text-align: center;
    background-color: var(--grisOscuro);
    background-color: #e9e9e9;
}
.contenido-txtarea--publicar:hover{
    background-color: var(--grisClaro);
    cursor: pointer;
    border-radius: .3rem;
}