:root{
    --fuentePrincipal: "Reddit Sans Condensed", sans-serif;
}

/* Estilos para la ventana emergente */
.modal, .modalEliminar, .modalEditar {
    display: none; /* Oculta la ventana por defecto */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro traslúcido */
    justify-content: center;
    align-items: center;
}

.modal-content, .eliminarContent, .editarContent{
    position: absolute;
    font-size: 15px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
}



/* Estilos para los botones */
.toolbar button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-footer, .eliminar-footer {
    display: flex;
    flex-direction: row-reverse;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button[type="button"]:hover {
    background-color: #ccc;
}
